.search__container {
  flex-shrink: 0;

  width: 100%;
  min-width: 200px;
  max-width: 500px;
  margin: 40px auto 55px;
  padding: 0 24px;
}

.search__form {
  position: relative;

  display: flex;
  align-items: center;
  flex: 0 0 100%;
  margin: 0;
}

.search__icon {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 24px;
  flex-shrink: 0;
}

.search__input {
  border: 1px solid var(--color-grey-light);

  border-radius: var(--space-tiny);

  height: 35px;
  width: 100%;

  padding-left: 36px;
}
