main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section__container {
  flex-grow: 1;
  padding: 0 24px 0 24px;
}

.loading-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.tag {
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-tiny);
  font-weight: var(--bold-font-weight);
  color: var(--color-white);

  width: fit-content;
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.color-white {
  color: var(--color-white);
}

.color-electric {
  color: var(--color-electric);
}

.background-color-grass {
  background-color: var(--color-grass);
}

.background-color-poison {
  background-color: var(--color-poison);
}

.background-color-fire {
  background-color: var(--color-fire);
}

.background-color-water {
  background-color: var(--color-water);
}

.background-color-rock {
  background-color: var(--color-rock);
}

.background-color-ghost {
  background-color: var(--color-ghost);
}

.background-color-steel {
  background-color: var(--color-steel);
}

.background-color-watter {
  background-color: var(--color-watter);
}
.background-color-psychic {
  background-color: var(--color-psychic);
}

.background-color-ice {
  background-color: var(--color-ice);
}

.background-color-dark {
  background-color: var(--color-dark);
}
.background-color-fairy {
  background-color: var(--color-fairy);
}

.background-color-normal {
  background-color: var(--color-normal);
}

.background-color-fighting {
  background-color: var(--color-fighting);
}
.background-color-ground {
  background-color: var(--color-ground);
}

.background-color-poison {
  background-color: var(--color-poison);
}

.background-color-bug {
  background-color: var(--color-bug);
}
.background-color-dragon {
  background-color: var(--color-dragon);
}

.background-color-electric {
  background-color: var(--color-electric);
}

.background-color-flying {
  background-color: var(--color-flying);
}

.color-grass {
  color: var(--color-grass);
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

[href='#'],
[alt=''] {
  outline: 3px dashed tomato;
}

@media screen and (min-width: 768px) {
  .section__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 24px;

    min-width: 700px;
    max-width: 990px;
    margin: 0 auto;

    padding: 0 24px;
  }
}

@media screen and (min-width: 992px) {
  .section__container {
    padding: 0 24px;
    gap: 20px 20px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .section__container {
    padding: 0 24px;
    gap: 20px 20px;
    justify-content: flex-start;
  }
}
